<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PW</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Primeruso.styles.css" asp-append-version="true" />
    <style>
        .TextosJustificados{
            text-align: justify;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            font-family: "Open Sans", sans-serif;
        }

        body {
            background-color: #E2E2D7;
        }

        header {
            width: 100%;
            height: 90px 210px;
        }

        .Interior {
            max-width: 100%;
            padding: 0 10px;
            margin: auto;
        }

        .Logo {
            padding: 5px 50px 0;
        }

            .Logo img {
                height: 80px;
            }

                .Logo img:hover {
                    transform: scale(1.1);
                }

        .nav {
            float: right;
            display: flex;
            align-items: center;
            min-height: 80px;
            z-index: 1000;
        }

            .nav ul {
                list-style: none;
                padding: 0 20px;
            }

                .nav ul li {
                    display: inline-block;
                    position: relative;
                    transition: .3s linear;
                    z-index: 1000;
                }

                    .nav ul li:hover {
                        transform: scale(1.1);
                    }

                    .nav ul li a {
                        color: white;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: bold;
                        padding: 12px 20px;
                        transition: .3s linear;
                    }


        .contenedor {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 15px;
        }

        .segunda {
            width: 200px;
            margin-right: 20px;
            border-radius: 20px;
        }

        .btn [type="submit"] {
            border: none;
            outline: none;
            height: 40px;
            font-size: 18px;
            border-radius: 20px;
            float: right;
            color: aqua;
        }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Travel - Exploring</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Sugerencias">Sugerencias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ReservacionUsuarios">Reservar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Comentarios">Comentarios</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Travel - Exploring - <a asp-area="" asp-controller="Home" asp-action="Administracion">Administrador</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
