@{
    ViewData["Title"] = "Administradores";
}

<br>
<h1 id="TituloPrincipal">Administracion</h1>
<br>
<br>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="~/imagenes/hotel.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hotel</h5>
                    <p class="card-text">Aqui podras dar de alta los hoteles que se deseen añadir ala pagina</p>
                    <a href="#" class="btn btn-primary">Ir ahora</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/imagenes/cuarto.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Habitacion</h5>
                    <p class="card-text">Aqui podras definir los costos de habitaciones, el numero de habitaciones asi como relacionar con los tipos de habitaciones que quieras</p>
                    <a href="#" class="btn btn-primary">Ir ahora</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/imagenes/llave-de-la-habitacion.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tipo de Habitacion</h5>
                    <p class="card-text">Aqui podras dar de alta los tipos de habitaciones que se deseen añadir ala pagina</p>
                    <a href="#" class="btn btn-primary">Ir ahora</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="~/imagenes/reserva.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> Ver Reservaciones</h5>
                    <p class="card-text">Aqui podras ver todas las reservaciones de todos los Usuarios</p>
                    <a href="#" class="btn btn-primary">Ir ahora</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/imagenes/comentarios.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ver Comentarios</h5>
                    <p class="card-text">Aqui podras consultar los comentarios que se le hacen ala pagina</p>
                    <a href="#" class="btn btn-primary">Ir ahora</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/imagenes/grupo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ver Usuarios</h5>
                    <p class="card-text">Aqui podras visualizar todos los Usuarios que esten registrados dentro de la pagina</p>
                    <a href="#" class="btn btn-primary">Ir ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>