@{
    ViewData["Title"] = "Comentarios";
}

<br>
<div class="container">
    <br>
    <h2>Ayudanos a seguir mejorando</h2>
    <div class="mb-3">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="row">
        <div class="col-10">
            <h3>Comentanos como a sido tu experiencia con Travel - Exploring</h3>
        </div>
        <div class="col-2"><button type="submit" class="btn btn-primary mb-3">Enviar</button></div>
    </div>
    <br>
    <br>
    <hr>
    <br>
    <h3>Siguenos en nuestras redes sociales</h3>
    <br>
    <div>
        <div><img src="~/imagenes/facebook.png" alt=""><p>YouUserName</p></div>
        <div><img src="~/imagenes/instagram.png" alt=""><p>YouUserName</p></div>
        <div><img src="~/imagenes/youtube.png" alt=""><p>You User Name</p></div>
        <div><img src="~/imagenes/logotipo-de-twitter.png" alt=""><p>YouUserName</p></div>
    </div>
