@{
    ViewData["Title"] = "Estatus";
}
<div class="card">
        <h1> MIS RESERVACIONES </h1>
        <h1 class="title">RESERVA </h1>
        <div class="content">Descripcion:Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis est facilis beatae tempora eius impedit, nobis dolor. Nulla, voluptates aliquam.</div>
        <div class="button-container"><button>ELIMINAR REGISTRO</button></div>
    </div>
    <div class="card">
        <h1 class="title">RESERVA </h1>
        <div class="content">Descripcion:Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis est facilis beatae tempora eius impedit, nobis dolor. Nulla, voluptates aliquam.</div>
        <div class="button-container"><button>ELIMINAR REGISTRO</button></div>
    </div>
    <div class="card">
        <h1 class="title">RESERVA</h1>
        <div class="content">Descripcion:Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis est facilis beatae tempora eius impedit, nobis dolor. Nulla, voluptates aliquam.</div>
        <div class="button-container"><button>ELIMINAR REGISTRO</button></div>
    </div>
    <div class="card">
        <h1 class="title">Soy RESERVA</h1>
        <div class="content">Descripcion:Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis est facilis beatae tempora eius impedit, nobis dolor. Nulla, voluptates aliquam.</div>
        <div class="button-container"><button>ELIMINAR REGISTRO</button></div>
    </div>
    <div class="card">
        <h1 class="title">RESERVA</h1>
        <div class="content">Descripcion:Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis est facilis beatae tempora eius impedit, nobis dolor. Nulla, voluptates aliquam.</div>
        <div class="button-container"><button>ELIMINAR REGISTRO</button></div>
    </div>
    <div class="card">
        <h1 class="title">RESERVA </h1>
        <div class="content">Descrepcion:Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis est facilis beatae tempora eius impedit, nobis dolor. Nulla, voluptates aliquam.</div>
        <div class="button-container"><button>ELIMINAR REGISTRO</button></div>
    </div>