@{
    ViewData["Title"] = "Pagina principal";
}

<div class="text-center">

    <h1 class="display-4">Travel - Exploring</h1>
    <br>
    <div class="container">
        <br>
        <h3 class="TextosJustificados">Somos una pagina web dedicada a la reservacion de hoteles en las diferentes ciudades de México para el bienestar de las personas que sufren al reservar desde una llamada telefonica en donde aqui en Travel Exploring te facilitaremos la experiencia de reservar de la manera mas facil.</h3>
        <br>
        <div class="row">
            <div class="col-3"><img src="~/imagenes/img_Cancun.jpg" alt=""></div>
            <div class="col-3"><img src="~/imagenes/img_CDMX.jpg" alt=""></div>
            <div class="col-3"><img src="~/imagenes/img_Guadalajara.jpg" alt=""></div>
            <div class="col-3"><img src="~/imagenes/img_MTTY.jpg" alt=""></div>
        </div>
        <br>
        <h3 class="TextosJustificados">Con Travel Exploring te resultará muy fácil encontrar tu hotel ideal con precios accesibles. Sólo tienes que indicar a dónde quieres ir y en qué fechas vas a viajar. Puedes encontrar a diferentes distancias como por ejemplo en una ciudad, playa o bosque también por el número de estrellas, las instalaciones que te interesen y muchas otras opciones. Desde hostales económicos hasta suites de lujo, con Travel Exploring es muy sencillo reservar alojamiento por Internet. Te ofrecemos la posibilidad de elegir entre una gran variedad de habitaciones en destinos de todo México.</h3>
        <br>
        <div class="row">
            <div class="col-6"><img src="~/imagenes/hotel1.jpg" alt=""></div>
            <div class="col-6"><img src="~/imagenes/hotel2.jpg" alt=""></div>
        </div>
    </div>
</div>

