@{
    ViewData["Title"] = "Sugerencias";
}

<div class="contenedor">
    <img  src="~/imagenes/img_Morelos.jpg" alt="">
    <div>
        <h1>Tepoztlan, MORELOS</h1>
        <p>
            Bendecido por una geografía que quita el aliento y un 
            no sé qué que no deja de seducir a los visitantes, el 
            pueblo resguardado por el Cerro del Tepozteco es tierra 
            de misticismo, artesanías, clima inmejorable y relajación, 
            pero sobre todo de buena vibra y energía que revitaliza.
            Desde la Ciudad de México tomar la carretera a Cuernavaca 
            y seguir por la desviación a Oaxtepec, a 15 minutos se encuentra 
            Tepoztlán. Tabla de distancias: A Ciudad de México – 74 km.
            <input class="btn" type="submit" value="Informacion">
        </p>
    </div>
</div>

<div class="contenedor">
    <img src="~/imagenes/Guanajuato.png" alt="">
    <div>
        <h1>San Miguel Allende, GUANAJUATO</h1>
        <p>
            Visita San Miguel de Allende para observar las calles de adoquín,
            los jardines, los patios arbolados y los edificios coloniales.
            La Unesco designó a esta ciudad como Patrimonio Mundial en 2008.
            Su atracción principal es el pequeño centro histórico, que cuenta
            con algunos edificios de varios siglos de antigüedad. Pasea por
            las calles ancestrales, conoce las hermosas iglesias antiguas, visita
            las tiendas de artesanías y disfruta el arte de la región.
            <input class="btn" type="submit" value="Informacion">
        </p>
    </div>
</div>

<div class="contenedor">
    <img  src="~/imagenes/img_Queretaro.jpg" alt="">
    <div>
        <h1>Bernal, QUERETARO</h1>
        <p>
            Es un Pueblo Mágico lleno de colores y vida donde puedes 
            pasar un fin de semana en familia gozando de la tranquilidad 
            y buen clima que ofrece mientras disfrutan de la gastronomía 
            y las artesanías locales. En este pueblo se encuentra uno de 
            los atractivos turísticos más importantes de Querétaro, 
            la Peña de Bernal.Desde Bernal puedes conocer y adentrarte al 
            mundo vinícola ya que está en la Ruta del Arte, Queso y Vino de Querétaro.
            <input class="btn" type="submit" value="Informacion">
        </p>
    </div>
</div>

<div class="contenedor">

    <img src="~/imagenes/vallebravo1.jpg" alt="">
    <div>
        <h1>Valle de Bravo, ESTADO DE MEXICO</h1>
        <p>
            Han sido varios los nombres que se le han dado a Valle de Bravo 
            desde la llegada de los frailes franciscanos a su territorio, 
            el primero de ellos fue San Francisco del Valle de Temascaltepec 
            (Temascaltepec de Indios), Villa del Valle y Valle de Bravo, aunque 
            para distinguir entre el primero de éstos y real de minas de Temascaltepec, 
            se optó por llamarle simplemente Valle.

            La alfarería tradicional y auténtica se elabora en barro café, el 
            cual es extraído de las minas del Calvario y Barranca Seca; ha 
            sido desarrollada principalmente por los pobladores del Barrio de 
            Otumba, aunque actualmente está viéndose afectada por la dificultad 
            de obtener el material para su elaboración.
            <input class="btn" type="submit" value="Informacion">
        </p>
    </div>
</div>

<div class="contenedor">

    <img src="~/imagenes/Cancún Quintana-Roo.jpg" alt="">
    <div>
        <h1>Cancun, QUINTANA ROO</h1>
        <p>
            Situado en la península de Yucatán, Cancún también tiene 
            una vista hacia el Golfo de México. Cerca de la costa se 
            encuentra un gran arrecife de coral, que proporciona a los 
            visitantes de Cancún algunos de los mejores lugares para 
            bucear en México. 
            
            Puedes hacer snorkel directamente desde la costa en Playa 
            Tortugas para descubrir coloridas especies de peces locales 
            y vida vegetal marina. Toma uno de los muchos tours que ofrecen 
            los centros de buceo de Cancún para bucear o nadar con delfines, 
            en Playa Delfines. 
            
            El Golfo es un paraíso para los pescadores de caña, y es muy fácil 
            reservar un barco de pesca en Aquaworld, que se encuentra justo 
            frente a la playa.
            <input class="btn" type="submit" value="Informacion">
        </p>
    </div>
</div>

<div class="contenedor">

    <img src="~/imagenes/oaxaca.jpg_1550599356.png" alt="">
    <div>
        <h1>Oaxaca, OAXACA</h1>
        <p>
            En la ciudad de Oaxaca recorrerás calles llenas de color y tradición, 
            descubrirás en cada rincón su historia, sus maravillosas artesanías, 
            su exquisita gastronomía y su buen mezcal.Si visitas Huatulco te relajarás 
            en sus 36 playas, recorrerás sus maravillosos paisajes, o puedes sentir la 
            adrenalina en sus rápidos, practicar pesca deportiva, además de sentir el 
            contacto con la naturaleza.

            También puedes viajar a Puerto Escondido, el lugar perfecto del Pacífico para 
            olvidar el estrés en sus playas con increíbles olas o algunas más tranquilas 
            que parecen albercas naturales; así como disfrutar de noches interminables 
            de fiesta.
            <input class="btn" type="submit" value="Informacion">
        </p>
    </div>
</div>

<div class="contenedor">

    <img src="~/imagenes/Tepotzltan.jpg" alt="">
    <div>
        <h1>Tepotzotlán, ESTADO DE MEXICO</h1>
        <p>
            Tepotzotlán es un pueblo que conserva el toque de provincia 
            a pesar de ser parte del área Metropolitana que rodea la Ciudad 
            de México.Uno de los espacios que lo distinguen es la Plaza de 
            la Cruz, cuyo valor radica en la cruz atrial de piedra labrada 
            con imágenes de la Pasión de Cristo.

            Este Pueblo Mágico posee la joya del churrigueresco mexicano: El Museo 
            Nacional del Virreinato, contruido en 1580 como el Colegio Jesuita de 
            San Francisco Javier. Destacan por su riqueza el altar principal de 
            la capilla, la iglesia de San Francisco Javier y la iglesia de San Pedro 
            Apóstol de estilo neoclásico, sin olvidar la importante colección 
            museográfica al interior. No se te vaya a pasar la vista desde su mirador.
            <input class="btn" type="submit" value="Informacion">
        </p>
    </div>
</div>