@{
    ViewData["Title"] = "Sugerencias";
}

<div class="contenedor">
    <img  src="~/imagenes/95069481.jpg" alt="">
    <div>
        <h1>PRIMERA SUGERENCIA</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Exercitationem ipsum sunt necessitatibus aut autem, iusto
            molestias dolores nihil reprehenderit ipsa officia iure nam,
            laborum voluptas fugit odio nemo architecto blanditiis?
            <input class="btn" type="submit" value="Configuracion">
        </p>
    </div>
</div>
<div class="contenedor">

    <img class="segunda" src="imag/95069481.jpg" alt="">
    <div>
        <h1>PRIMERA SUGERENCIA</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Exercitationem ipsum sunt necessitatibus aut autem, iusto
            molestias dolores nihil reprehenderit ipsa officia iure nam,
            laborum voluptas fugit odio nemo architecto blanditiis?
            <input class="btn" type="submit" value="Configuracion">
        </p>
    </div>
</div>

<div class="contenedor">

    <img class="segunda" src="imag/95069481.jpg" alt="">
    <div>
        <h1>PRIMERA SUGERENCIA</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Exercitationem ipsum sunt necessitatibus aut autem, iusto
            molestias dolores nihil reprehenderit ipsa officia iure nam,
            laborum voluptas fugit odio nemo architecto blanditiis?
            <input class="btn" type="submit" value="Configuracion">
        </p>
    </div>
</div>

<div class="contenedor">

    <img class="segunda" src="imag/95069481.jpg" alt="">
    <div>
        <h1>PRIMERA SUGERENCIA</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Exercitationem ipsum sunt necessitatibus aut autem, iusto
            molestias dolores nihil reprehenderit ipsa officia iure nam,
            laborum voluptas fugit odio nemo architecto blanditiis?
            <input class="btn" type="submit" value="Configuracion">
        </p>
    </div>
</div>

<div class="contenedor">

    <img class="segunda" src="imag/95069481.jpg" alt="">
    <div>
        <h1>PRIMERA SUGERENCIA</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Exercitationem ipsum sunt necessitatibus aut autem, iusto
            molestias dolores nihil reprehenderit ipsa officia iure nam,
            laborum voluptas fugit odio nemo architecto blanditiis?
            <input class="btn" type="submit" value="Configuracion">
        </p>
    </div>
</div>

<div class="contenedor">

    <img class="segunda" src="imag/95069481.jpg" alt="">
    <div>
        <h1>PRIMERA SUGERENCIA</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Exercitationem ipsum sunt necessitatibus aut autem, iusto
            molestias dolores nihil reprehenderit ipsa officia iure nam,
            laborum voluptas fugit odio nemo architecto blanditiis?
            <input class="btn" type="submit" value="Configuracion">
        </p>
    </div>
</div>

<div class="contenedor">

    <img class="segunda" src="imag/95069481.jpg" alt="">
    <div>
        <h1>PRIMERA SUGERENCIA</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Exercitationem ipsum sunt necessitatibus aut autem, iusto
            molestias dolores nihil reprehenderit ipsa officia iure nam,
            laborum voluptas fugit odio nemo architecto blanditiis?
            <input class="btn" type="submit" value="Configuracion">
        </p>
    </div>
</div>