@model Primeruso.Models.dbModels.Habitacion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Habitacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdHabitacion" />
            <div class="form-group">
                <label asp-for="IdHotel" class="control-label"></label>
                <select asp-for="IdHotel" class="form-control" asp-items="ViewBag.IdHotel"></select>
                <span asp-validation-for="IdHotel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumHabitacion" class="control-label"></label>
                <input asp-for="NumHabitacion" class="form-control" />
                <span asp-validation-for="NumHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoHabitacion" class="control-label"></label>
                <input asp-for="CostoHabitacion" class="form-control" />
                <span asp-validation-for="CostoHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoHabitacion" class="control-label"></label>
                <select asp-for="IdTipoHabitacion" class="form-control" asp-items="ViewBag.IdTipoHabitacion"></select>
                <span asp-validation-for="IdTipoHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
